<!-- <ul>
    <app-user *ngFor="let user of users" [nameUser] = "user"></app-user>
</ul> -->

<!-- <div>
    <p>Name: {{name}}</p>
    <p>Street: {{address.street}}</p>
    <p>City: {{address.city}}</p>
    <ul>
        <li *ngFor="let hobby of hobbies">
            {{hobby}}
        </li>
    </ul>
</div> -->

<form (submit)="addUser(newUser)">
    <input type="text" #newUser>
    <button>Send User</button>
</form>

<ul>
    <li *ngFor="let user of users">
        {{user}} <button (click)="deleteUser(user)">X</button>
    </li>
</ul> 

<button (click)="sayHello()">
    click me!
</button>

<div>
    <form action="">
        <input type="text" name="name" [(ngModel)]="name">
        <input type="text" name="age" [(ngModel)]="age">
    </form>
    name: {{ name }} <br>
    edad: {{ age }}
</div>

<hr>

<div *ngFor="let post of post">
    <h3>{{ post.title }}</h3>
    <p>{{ post.body }}</p>
</div>


